<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.136386894416-filk66upmah3qmht1arg6ln6vvjmj9lp</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLName</key>
			<string>ferrio</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>ferrio</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>app-1-136386894416-ios-447df208b9b61fdcb28f55</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>136386894416-filk66upmah3qmht1arg6ln6vvjmj9lp.apps.googleusercontent.com</string>
	<key>NSUserActivityTypes</key>
	<array>
		<string>ConfigurationIntent</string>
	</array>
</dict>
</plist>
